<h2><%= @task.title %></h2>
<p><%= @task.details %></p>

<% if @task.completed %>
  <i class="fa fa-check-square-o"></i>
<% else %>
  <i class="fa fa-square-o"></i>
<% end %>
<%= link_to tasks_path  do %>
<i class="fas fa-indent"></i>
<% end %>
